:root {
    --dark-color: #290001;
    --medium-color: #87431d;
    --light-color: #c87941;
    --neutral-color: #dbcbbd;
}
body {
    background-color: var(--dark-color);
}
.landing-page {
    background: center/100%
        url('https://res.cloudinary.com/darthsaul/image/upload/v1625863643/Coffee-Corner/beans_fwb3li.jpg');
}
.btn-theme {
    background-color: var(--dark-color);
    border-color: var(--neutral-color);
    color: var(--neutral-color);
}
.btn-theme:hover {
    background-color: var(--medium-color);
    color: white;
}
.card {
    border-color: var(--neutral-color);
}
.card-header {
    background-color: var(--light-color);
}
.card-header {
    color: var(--dark-color);
}
nav span:hover {
    cursor: pointer;
}

.coffee-list-card {
    min-height: 300px;
}
.coffee-list-card .card-header {
    min-height: 6.5rem;
}

.reviews-btn {
    border-radius: 18px;
    transition: 500ms;
}

.reviews-btn:hover {
    background-color: var(--neutral-color);
    color: var(--dark-color);
    font-weight: 600;
}
