:root {
    --dark-color: #290001;
    --medium-color: #87431d;
    --light-color: #c87941;
    --neutral-color: #dbcbbd;
}
body {
    background-color: var(--dark-color);
}
.landing-page {
    background: center/100%
        url('https://res.cloudinary.com/darthsaul/image/upload/v1625863643/Coffee-Corner/beans_fwb3li.jpg');
}
.btn-theme {
    background-color: var(--dark-color);
    border-color: var(--neutral-color);
    color: var(--neutral-color);
}
.btn-theme:hover {
    background-color: var(--medium-color);
    color: white;
}
.btn-landing {
    background-color: var(--neutral-color);
    border-color: var(--medium-color);
    color: var(--dark-color);
}
.btn-landing:hover {
    background-color: var(--dark-color);
    color: white;
}
.btn-new-brew {
    background-color: var(--neutral-color);
    border-color: var(--medium-color);
    font-size: 1.6em;
    padding: 0.8rem 2.2rem;
}
.btn-new-brew a {
    color: var(--dark-color);
    text-decoration: none;
}

nav span:hover {
    cursor: pointer;
}

.card {
    border-color: var(--neutral-color);
}
.card-header {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.coffee-list-card {
    min-height: 300px;
}
.coffee-list-card .card-header {
    min-height: 6.5rem;
}

.reviews-btn {
    border-radius: 18px;
    transition: 500ms;
}

.reviews-btn:hover {
    background-color: var(--neutral-color);
    color: var(--dark-color);
    font-weight: 600;
}

.brew-title .card-header {
    color: var(--dark-color);
}

.brew-title .card-header:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.create-profile {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
