:root {
    --dark-color: #290001;
    --medium-color: #87431d;
    --light-color: #c87941;
    --neutral-color: #dbcbbd;
}
body {
    background-color: var(--dark-color);
}
.btn-theme {
    background-color: var(--dark-color);
    border-color: var(--neutral-color);
    color: var(--neutral-color);
}
.btn-theme:hover {
    background-color: var(--medium-color);
    color: white;
}
.card {
    border-color: var(--neutral-color);
}
.card-header {
    background-color: var(--light-color);
}
.card-header {
    color: var(--dark-color);
}
nav span:hover {
    cursor: pointer;
}

.coffee-list-card {
    min-height: 300px;
}
